body{
    background-color: rgb(36, 36, 36);
}.bottom{
    text-align: right;

    width: 300px;
    margin: 30px 50px 0px auto;

    color: white;
}

@media screen and (max-width: 1000px) {
    .bottom{
        margin: 10px 20px 0px auto;
    }
}
.comments{
    margin-top: 50px;
}/*
    h1
*/

@keyframes h1Animation{
    0%{
        border-bottom-color: rgb(19, 113, 255);
    }
    25%{
        border-bottom-color: rgb(42, 224, 66);
    }
    50%{
        border-bottom-color: rgb(255, 233, 34);
    }
    75%{
        border-bottom-color: rgb(42, 224, 66);
    }
    100%{
        border-bottom-color: rgb(19, 113, 255);
    }
}

h1{
    border-bottom: solid rgb(19, 113, 255) 5px;
}

h1:hover{
    animation-name: h1Animation;
    animation-duration: 2s;
}

@media screen and (max-width: 1000px) {
    h1{
        border-bottom-width: 2px;
    }
}

/*
    h2
*/

h2{
    border-bottom: solid rgb(255, 200, 19) 3px;
}

@media screen and (max-width: 1000px) {
    h2{
        border-bottom-width: 1.5px;
    }
}

/*
    p
*/

p{
    padding: 15px;
}

@media screen and (max-width: 1000px) {
    p{
        padding: 5px;
    }
}
/*
    header
*/

.header{
    display: inline-block;

    padding: 30px;
}

/*
    menu
*/

.menu{
    display: inline-block;
}

/*
    title
*/

.title{
    background: transparent;
}

@media screen and (max-width: 1000px) {
    .title{
        width: 300px;
        height: 30px;
        padding: 0px;
    }
}

/*
    a.internal-link
*/

@keyframes link-hover{
    0%{
        color: rgb(248, 176, 20);
    }
    100%{
        color: rgb(37, 165, 250);
    }
}

a.internal-link{
    margin: 30px;
    color: gray;
    font-size: 1.5em;
}

a.internal-link:hover{
    color: rgb(37, 165, 250);

    animation-name: link-hover;
    animation-duration: 1.2s;
    animation-timing-function: linear;
}

@media screen and (max-width: 1000px) {
    a.internal-link{
        margin: 5px;
    }
}
.main-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 50px 10px 50px;
    border-radius: 30px;

    background-color: whitesmoke;
}

@media screen and (max-width: 1000px) {
    .main-content{
        margin: 0 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
    }
}
