/*
    header
*/

.header{
    display: inline-block;

    padding: 30px;
}

/*
    menu
*/

.menu{
    display: inline-block;
}

/*
    title
*/

.title{
    background: transparent;
}

@media screen and (max-width: 1000px) {
    .title{
        width: 300px;
        height: 30px;
        padding: 0px;
    }
}

/*
    a.internal-link
*/

@keyframes link-hover{
    0%{
        color: rgb(248, 176, 20);
    }
    100%{
        color: rgb(37, 165, 250);
    }
}

a.internal-link{
    margin: 30px;
    color: gray;
    font-size: 1.5em;
}

a.internal-link:hover{
    color: rgb(37, 165, 250);

    animation-name: link-hover;
    animation-duration: 1.2s;
    animation-timing-function: linear;
}

@media screen and (max-width: 1000px) {
    a.internal-link{
        margin: 5px;
    }
}
