<footer class="footer">
    <section class="container">
        {{ with .Site.Params.footercontent | safeHTML }}
        <p>{{.}}</p>
        {{ end }}
        {{ if not .Site.Params.hideCopyright }}
        {{ with .Site.Params.since }}
        © {{ if lt . now.Year }}{{ . }} - {{ end }}{{ now.Year }}
        {{ else }}
        © {{ now.Year }}
        {{ end }}
        {{ if .Site.Params.Author }} <a href="https://github.com/capra314cabra">{{ .Site.Params.Author }}</a> {{ end }}
        {{ end }}
    </section>
</footer>